<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <script>document.write(new Date().getFullYear())</script>- 2022 © . طراحی و توسعه توسط X Developer
            </div>
        </div>
    </div>
</footer>