@model Eshop.Data.DTOs.ProductDto.EditGalleryDto
<div>
    <input asp-for="GalleryId" type="hidden" />
    <input asp-for="ProductId" type="hidden" />
    <div class="mb-2">
        <label class="text-primary">ترتیب نمایش</label>
        <input class="form-control" asp-for="Order">
    </div>
</div>