@model Eshop.Data.DTOs.ProductDto.FilterProductDto
<form asp-area="" asp-controller="Product" asp-action="FilterProducts" method="get">
    <div class="search-filed">
        <label class="d-block">
            <input class="form-control search-input"
                  asp-for="Title" placeholder="جستجوی محصولات ..." type="text">
        </label>
        <button class="btn search-btn main-color-two-bg rounded-pill"
                type="submit">
            <i class="bi bi-search"></i>
        </button>
    </div>
</form>